TA-Lib installation and documentation
https://mrjbq7.github.io/ta-lib/install.html

In [7]:
import talib

In [64]:
import numpy as np
import pandas as pd
import math

In [80]:
def myCMFI(high, low, close, volume, timeperiod=2):
    clv = ((close-low)-(high-close))/(high-low)
    sum_mfv = talib.SUM((clv*volume), timeperiod=timeperiod)
    sum_volume = talib.SUM(volume, timeperiod=timeperiod)
    return (sum_mfv/sum_volume)

In [81]:
def myHMA(close, timeperiod=4):
    wma = talib.WMA(close, timeperiod=timeperiod)
    wma2 = 2*(talib.WMA(close, timeperiod=timeperiod//2))
    newPeriod= int(math.sqrt(timeperiod))
    return talib.WMA( wma2 - wma,timeperiod=newPeriod)

In [74]:
table = pd.read_csv("MSFT.csv")

adj_close = table['Adj Close'].values
close = table['Close'].values
high = table['High'].values
low = table['Low'].values
volume = table['Volume'].values

In [13]:
table.head()

         Date       Open       High        Low      Close  Adj Close    Volume
0  2002-01-02  33.325001  33.555000  32.755001  33.520000  24.325737  48124000
1  2002-01-03  33.555000  34.625000  33.544998  34.615002  25.120388  67590800
2  2002-01-04  34.625000  34.955002  34.334999  34.450001  25.000648  52731400
3  2002-01-07  34.875000  35.009998  34.174999  34.279999  24.877275  58508800
4  2002-01-08  34.345001  34.930000  34.000000  34.689999  25.174818  47736400

In [21]:
timeperiods = np.arange(6,21)
print(timeperiods, timeperiods.dtype)

[ 6  7  8  9 10 11 12 13 14 15 16 17 18 19 20] int64

In [75]:
df_SMA = pd.DataFrame(index=table['Date'])
df_EMA = pd.DataFrame(index=table['Date'])
df_WMA = pd.DataFrame(index=table['Date'])
df_HMA = pd.DataFrame(index=table['Date'])
df_TEMA = pd.DataFrame(index=table['Date'])
df_CCI = pd.DataFrame(index=table['Date'])
df_CMO = pd.DataFrame(index=table['Date'])
df_MACD = pd.DataFrame(index=table['Date'])
df_PPO = pd.DataFrame(index=table['Date'])
df_ROC = pd.DataFrame(index=table['Date'])
df_CMFI = pd.DataFrame(index=table['Date'])
df_DX = pd.DataFrame(index=table['Date'])
df_SAR = pd.DataFrame(index=table['Date'])
df_RSI = pd.DataFrame(index=table['Date'])
df_WILLR = pd.DataFrame(index=table['Date'])

In [101]:
for i in timeperiods:
    df_RSI[str(i)] = talib.RSI(close, timeperiod=i)
    df_WILLR[str(i)] = talib.WILLR(high, low, close,timeperiod=i)
    df_WMA[str(i)] = talib.WMA(close, timeperiod=i)
    df_EMA[str(i)] = talib.EMA(close, timeperiod=i)
    df_SMA[str(i)] = talib.SMA(close, timeperiod=i)
    df_HMA[str(i)] = myHMA(close, timeperiod=i)
    df_TEMA[str(i)] = talib.TEMA(close, timeperiod=i)
    df_CCI[str(i)] = talib.CCI(high, low, close, timeperiod=i)
    df_CMO[str(i)] = talib.CMO(close,timeperiod=i)
    df_MACD[str(i)] = talib.MACD(close,fastperiod=i,slowperiod=i*2)[1] #macdsignal
    df_PPO[str(i)] = talib.PPO(close, fastperiod=i,slowperiod=i*2)
    df_ROC[str(i)] = talib.ROC(close,timeperiod=i)
    df_CMFI[str(i)] = myCMFI(high, low, close, (volume)*1.0, timeperiod=i)
    df_DX[str(i)] = talib.DX(high, low, close,timeperiod=i)
    df_SAR[str(i)] = talib.SAR(high, low)

In [102]:
print(df_PPO)

                   6         7         8         9        10        11  \
Date
2002-01-02       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-03       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-04       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-07       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-08       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-09       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-10       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-11       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-14       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-15       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-16       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-17  0.220484       NaN       NaN       NaN       NaN       NaN
2002-01-18 -0.436617       NaN       NaN       NaN       NaN       NaN
2002-01-22 -0.869776 -0.646429       NaN       NaN       NaN       NaN
2002-01-23 -1.403159 -1.324628       NaN       NaN       NaN       NaN
2002-01-24 -2.142778 -1.659125 -1.388837       NaN       NaN       NaN
2002-01-25 -2.475624 -2.346791 -1.957229       NaN       NaN       NaN
2002-01-28 -3.389323 -2.716761 -2.529492 -2.011584       NaN       NaN
2002-01-29 -3.494706 -3.598622 -2.967834 -2.826235       NaN       NaN
2002-01-30 -3.197705 -3.690576 -3.765211 -3.146027 -2.865049       NaN
2002-01-31 -2.616652 -3.270419 -3.701253 -3.754318 -3.246316       NaN
2002-02-01 -2.251898 -2.876967 -3.489589 -3.855303 -3.852327 -3.257900
2002-02-04 -2.090919 -2.857270 -3.237060 -3.748530 -4.040259 -4.064216
2002-02-05 -1.671643 -2.538806 -3.206317 -3.569939 -4.002866 -4.212429
2002-02-06 -1.437791 -2.489361 -3.107947 -3.555949 -3.853947 -4.210906
2002-02-07 -1.638732 -1.947690 -2.969772 -3.512990 -3.933796 -4.175220
2002-02-08 -2.051199 -1.839831 -2.607216 -3.408042 -3.778957 -4.142519
2002-02-11 -2.005622 -2.056781 -2.102143 -2.903407 -3.636762 -4.006497
2002-02-12 -1.785737 -2.231180 -2.233150 -2.719219 -3.347956 -3.906000
2002-02-13 -1.337850 -1.755317 -2.142475 -2.359753 -2.919175 -3.511379
...              ...       ...       ...       ...       ...       ...
2006-11-16  0.742652  0.815291  0.976918  1.080363  1.074373  1.093276
2006-11-17  0.652659  0.806174  0.942359  1.078038  1.136679  1.151710
2006-11-20  0.701934  0.823448  0.997249  1.132249  1.247926  1.262118
2006-11-21  0.685340  0.882317  0.979279  1.188066  1.296105  1.364357
2006-11-22  0.768292  0.877406  1.008805  1.134978  1.338925  1.434837
2006-11-24  0.899473  0.882503  0.979032  1.096229  1.265389  1.444021
2006-11-27  0.762625  0.900550  0.932827  0.997875  1.149976  1.327509
2006-11-28  0.719993  0.754103  0.905996  0.947507  1.015003  1.210110
2006-11-29  0.445698  0.692493  0.792049  0.964994  0.982801  1.084996
2006-11-30  0.126936  0.411523  0.687402  0.803205  0.969946  0.995110
2006-12-01 -0.293453  0.053272  0.330873  0.644113  0.790487  0.930867
2006-12-04 -0.595019 -0.227624  0.065741  0.360521  0.663739  0.806101
2006-12-05 -0.697208 -0.508647 -0.246054  0.033966  0.355521  0.666212
2006-12-06 -0.808228 -0.714753 -0.496731 -0.266203  0.032318  0.346910
2006-12-07 -0.923983 -0.827448 -0.684087 -0.536578 -0.309639  0.013938
2006-12-08 -0.755038 -0.909951 -0.738884 -0.576200 -0.455844 -0.216664
2006-12-11 -0.409184 -0.738294 -0.766372 -0.577750 -0.486212 -0.371103
2006-12-12 -0.258824 -0.469278 -0.742973 -0.688743 -0.486146 -0.412744
2006-12-13 -0.039811 -0.272573 -0.488593 -0.632040 -0.547042 -0.411001
2006-12-14  0.380314  0.109433 -0.205993 -0.399473 -0.466441 -0.367329
2006-12-15  0.963282  0.519519  0.186773 -0.131827 -0.225313 -0.258907
2006-12-18  1.089140  0.901993  0.541068  0.160084 -0.118488 -0.140075
2006-12-19  1.094931  1.085166  0.915642  0.523501  0.155700 -0.016919
2006-12-20  1.250281  1.172715  1.058201  0.927790  0.499112  0.172080
2006-12-21  1.250105  1.228193  1.156668  1.051009  0.871242  0.462401
2006-12-22  0.824407  1.195930  1.185570  1.041118  0.972944  0.748459
2006-12-26  0.391323  0.948027  1.185504  1.171742  1.038038  0.918954
2006-12-27  0.290194  0.616854  1.017378  1.222806  1.129819  1.026113
2006-12-28  0.161641  0.387782  0.748528  1.026102  1.204982  1.117421
2006-12-29 -0.086291  0.215198  0.551976  0.802484  1.048833  1.139623

                  12        13        14        15        16        17  \
Date
2002-01-02       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-03       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-04       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-07       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-08       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-09       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-10       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-11       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-14       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-15       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-16       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-17       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-18       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-22       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-23       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-24       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-25       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-28       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-29       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-30       NaN       NaN       NaN       NaN       NaN       NaN
2002-01-31       NaN       NaN       NaN       NaN       NaN       NaN
2002-02-01       NaN       NaN       NaN       NaN       NaN       NaN
2002-02-04       NaN       NaN       NaN       NaN       NaN       NaN
2002-02-05 -4.107102       NaN       NaN       NaN       NaN       NaN
2002-02-06 -4.425799       NaN       NaN       NaN       NaN       NaN
2002-02-07 -4.445379 -4.521129       NaN       NaN       NaN       NaN
2002-02-08 -4.336299 -4.610497       NaN       NaN       NaN       NaN
2002-02-11 -4.325500 -4.462312 -4.610536       NaN       NaN       NaN
2002-02-12 -4.227084 -4.495049 -4.644483       NaN       NaN       NaN
2002-02-13 -4.058105 -4.347255 -4.561446 -4.605253       NaN       NaN
...              ...       ...       ...       ...       ...       ...
2006-11-16  1.108936  1.136058  1.286065  1.329818  1.340458  1.459936
2006-11-17  1.140706  1.161017  1.287061  1.396150  1.408296  1.471300
2006-11-20  1.252438  1.244093  1.284549  1.456513  1.528557  1.525076
2006-11-21  1.391191  1.352233  1.346246  1.474762  1.604615  1.643079
2006-11-22  1.464158  1.469239  1.436376  1.452222  1.624673  1.719599
2006-11-24  1.502993  1.546467  1.526614  1.500386  1.602609  1.737743
2006-11-27  1.496474  1.526798  1.554238  1.543387  1.543019  1.691767
2006-11-28  1.372451  1.506327  1.553804  1.560127  1.557269  1.641982
2006-11-29  1.284267  1.438012  1.539066  1.570740  1.583295  1.603017
2006-11-30  1.141194  1.325098  1.447674  1.560042  1.572045  1.591008
2006-12-01  0.997435  1.156245  1.334838  1.431258  1.527827  1.548201
2006-12-04  0.942214  1.052049  1.199564  1.347295  1.454420  1.528574
2006-12-05  0.785184  0.949675  1.073505  1.218032  1.339180  1.431277
2006-12-06  0.642776  0.762436  0.962585  1.080927  1.200885  1.332388
2006-12-07  0.335570  0.599322  0.748075  0.956801  1.075823  1.173780
2006-12-08  0.092336  0.392672  0.641049  0.819784  1.014477  1.108943
2006-12-11 -0.114951  0.191546  0.453769  0.713764  0.896405  1.082478
2006-12-12 -0.276544 -0.028836  0.258404  0.505730  0.786256  0.957165
2006-12-13 -0.337254 -0.176787  0.073064  0.325451  0.583321  0.861279
2006-12-14 -0.259019 -0.168682 -0.014589  0.215899  0.450105  0.723027
2006-12-15 -0.217680 -0.117499 -0.006069  0.152021  0.349293  0.590196
2006-12-18 -0.144068 -0.116098  0.001213  0.113299  0.261669  0.447055
2006-12-19 -0.005644 -0.049522 -0.019374  0.118809  0.240083  0.364394
2006-12-20  0.071858  0.106760  0.056855  0.107356  0.243980  0.357928
2006-12-21  0.239356  0.178193  0.175246  0.134325  0.209782  0.354500
2006-12-22  0.388470  0.243062  0.215054  0.208735  0.195865  0.277357
2006-12-26  0.695207  0.435138  0.330734  0.272817  0.272860  0.288001
2006-12-27  0.855519  0.658023  0.470242  0.397652  0.338159  0.360364
2006-12-28  0.970819  0.796802  0.680830  0.535759  0.439263  0.389840
2006-12-29  1.077598  0.887712  0.735852  0.679262  0.568836  0.475083

                  18        19        20
Date
2002-01-02       NaN       NaN       NaN
2002-01-03       NaN       NaN       NaN
2002-01-04       NaN       NaN       NaN
2002-01-07       NaN       NaN       NaN
2002-01-08       NaN       NaN       NaN
2002-01-09       NaN       NaN       NaN
2002-01-10       NaN       NaN       NaN
2002-01-11       NaN       NaN       NaN
2002-01-14       NaN       NaN       NaN
2002-01-15       NaN       NaN       NaN
2002-01-16       NaN       NaN       NaN
2002-01-17       NaN       NaN       NaN
2002-01-18       NaN       NaN       NaN
2002-01-22       NaN       NaN       NaN
2002-01-23       NaN       NaN       NaN
2002-01-24       NaN       NaN       NaN
2002-01-25       NaN       NaN       NaN
2002-01-28       NaN       NaN       NaN
2002-01-29       NaN       NaN       NaN
2002-01-30       NaN       NaN       NaN
2002-01-31       NaN       NaN       NaN
2002-02-01       NaN       NaN       NaN
2002-02-04       NaN       NaN       NaN
2002-02-05       NaN       NaN       NaN
2002-02-06       NaN       NaN       NaN
2002-02-07       NaN       NaN       NaN
2002-02-08       NaN       NaN       NaN
2002-02-11       NaN       NaN       NaN
2002-02-12       NaN       NaN       NaN
2002-02-13       NaN       NaN       NaN
...              ...       ...       ...
2006-11-16  1.558771  1.689502  1.896802
2006-11-17  1.579152  1.658266  1.821645
2006-11-20  1.635609  1.725683  1.811654
2006-11-21  1.687869  1.786224  1.856483
2006-11-22  1.742794  1.834439  1.917265
2006-11-24  1.801618  1.870788  1.953517
2006-11-27  1.796973  1.847932  1.962973
2006-11-28  1.759629  1.837246  1.932505
2006-11-29  1.732434  1.822600  1.887087
2006-11-30  1.690257  1.791840  1.856980
2006-12-01  1.589829  1.733061  1.811685
2006-12-04  1.554592  1.670427  1.786874
2006-12-05  1.509405  1.556268  1.712891
2006-12-06  1.405242  1.487090  1.605544
2006-12-07  1.290822  1.368470  1.468214
2006-12-08  1.215163  1.310170  1.389116
2006-12-11  1.153552  1.243648  1.338616
2006-12-12  1.116199  1.196467  1.266912
2006-12-13  1.025445  1.158943  1.225290
2006-12-14  0.980887  1.117510  1.253713
2006-12-15  0.857574  1.101337  1.212235
2006-12-18  0.704593  0.954850  1.169621
2006-12-19  0.560521  0.815025  1.053496
2006-12-20  0.474606  0.688146  0.926361
2006-12-21  0.448541  0.579630  0.792893
2006-12-22  0.417052  0.508350  0.661721
2006-12-26  0.380759  0.500617  0.607215
2006-12-27  0.383120  0.472393  0.586912
2006-12-28  0.437248  0.474559  0.548099
2006-12-29  0.450967  0.505271  0.543372

[1259 rows x 15 columns]

In [42]:
closee = timeperiods*2
openn = timeperiods*0.5
high = timeperiods+15
low= timeperiods*1.1
resul = ((closee-low)-(high-closee))/(high-low)
print(resul)

[-0.25       -0.11888112  0.01408451  0.14893617  0.28571429  0.42446043
  0.56521739  0.7080292   0.85294118  1.          1.14925373  1.30075188
  1.45454545  1.61068702  1.76923077]

In [48]:
num = np.array([10.1, 11.0, 12.0, 11.5, 11.8, 10.5, 12.0])
soma = talib.SUM((num), timeperiod=2)
print(soma)

[ nan 21.1 23.  23.5 23.3 22.3 22.5]

In [62]:
numH =np.array([33.5,34.6,34.9,35.0,34.6])
numL =np.array([32.7,33.5,34.3,34.1,34.0])
numC =np.array([33.4,34.4,34.4,34.2,34.6])
volume = np.array([481244000.0,67590800.0,52731400.0,47736400.0,76304000.0])
print(myDMI(numH, numL, numC, volume))

clv [ 0.75        0.63636364 -0.66666667 -0.77777778  1.        ]
sum_clv [            nan  4.03945327e+08  7.85806061e+06 -7.22825778e+07
  3.91756889e+07]
sum volume [         nan 5.488348e+08 1.203222e+08 1.004678e+08 1.240404e+08]
[        nan  0.73600531  0.06530849 -0.71946014  0.31583008]

In [72]:
print(myHMA(numL))

[        nan         nan         nan         nan 34.16222222]